.leading-section {
    margin-top: 220px;
    position: relative;
    @include hide-scroll {
        overflow: hidden;
    }
    @include mobile {
        margin-top: 100px;
    }
}

.leading {
    display: flex;
    align-items: center;
    justify-content: space-around;

    @include mobile {
        flex-wrap: wrap;
    }

    &__image {
        margin-right: 142px;
        @include mobile-and-tablet {
            width: 100%;
            margin: 0;
        }
        @include tablet {
            margin-right: 30px;
        }
    }
    &-background-point {
        position: absolute;
        bottom: -20%;
        right: -15%;
        @include mobile {
            display: none;
        }
        @include tablet {
            bottom: -50%;
            right: 0;
        }
    }
}

.download-section {
    margin-top: 229px;
    @include mobile {
        margin-top: 150px;
    }
}

.download {
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include mobile {
        flex-wrap: wrap-reverse;
    }
    @include mobile-and-tablet {
        margin: 0;
    }
    &__image {
        margin-left: 71px;
        @include mobile-and-tablet {
            width: 100%;
            margin: 0;
        }
    }
}