.avatar {
    @include flex-center-vert;
    justify-content: space-around;
    @include mobile {
        flex-direction: column;    
    }
    &__img {
        width: 150px;
        border-radius: 50%;
        border: 4px solid $white-color;
        margin-right: 33px;
        @include tablet {
            width: 110px;
            margin-right: 28px;
        }
        @include mobile {
            width: 100px;
            margin-right: 0;
        }
    }
    &__info {
        margin-right: 110px;
        @include flex-column-center-horiz;
        @include tablet {
            margin-right: 20px;
        }
        @include mobile {
            margin-right: 0;
        }
        &__name {
            font-weight: 700;
            font-size: 2.2rem;
            line-height: 44px;
            color: $white-color;
            margin: 0;
            @include tablet {
                font-size: 1.6rem;
                line-height: 20px;   
            }
            @include mobile {
                line-height: 36px;   
            } 
        }
        &__position {
            font-weight: 400;
            font-size: 1.8rem;
            color: rgba(255, 255, 255, 0.85);
            margin: 0;
            @include tablet {
                font-size: 1.4rem;   
            }
        }
    }
}