.btn {
    width: 200px;
    height: 56px;
    background-color: $white-color;
    border-radius: 55px;
    border: 1.4px solid $primary-color;
    color: $primary-color;
    font-weight: 700;
    font-size: $desc;
    cursor: pointer;
    &--primary {
        background-color: $primary-color;
        color: $white-color;
        margin: 25px 0px 45px;
    }
    &__label {
        margin: 0;
    }
    &__icon {
        margin: 0;
        width: 11px;
        height: 16px;
        background-image: $angle-down;
        @include bg-cover-norep;
    }
    &--small {
        font-size: 2.8rem;
    }
    &-group {
        margin-top: 43px;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include all-devices {
            margin-top: 20px;
            width: 85%;
        }
    }
    &-angle {
        width: 30px;
        height: 20px;
        @include bg-cover-norep;
        &--left {
            background-image: $angle-left;
            opacity: 0.3;
        }
        &--right {
            background-image: $angle-right;
            opacity: 1;
        }
    }
    &-point-wrap {
        display: flex;
        width: 30%;
        justify-content: space-around;
        &__element {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: $primary-color;
            opacity: 0.3;
            &--active {
                opacity: 1;
            }
        }
    }

}