.nav {
    font-size: $desc;
    flex-grow: 0 !important;
    &__list {
        width: 100%;
        margin-top: 0;
    }
    &__item {
        padding: 10px 12px;
        font-weight: 400;
        opacity: 0.5;
        &--active {
            color: $black-color;
            opacity: 1;
            font-weight: 700;
        }
        &__link {
            width: 100%;
            display: block;
            text-decoration: none;
            color: $blackblue-color;
        }
    }
}