.section {
    display: flex;
    align-items: center;
    &--col {
        flex-direction: column;
    }
    &--color-primary {
        width: 1120px;
        height: 425px;
        background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
        border-radius: 24px;
        @include mobile-and-tablet {
            width: 90%;
            height: auto;
            padding: 10px;
        }
    }  
    &--row {
        justify-content: space-around;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &--wrap-reverse {
        @include mobile {
            flex-wrap: wrap-reverse;
        }
    }
    &--mg-left {
        margin-left: 140px;
        @include mobile-and-tablet {
            margin: 0;
        }
    }
}