.title {
    color: $black-color;
    margin: 0;
    font-weight: 700;
    line-height: 56px;
    &--medium {
        font-size: $title;
        @include all-devices {
            text-align: center;
        }
    }
    &--color-white{
        color: $white-color;
    }
    &--large {
        width: 420px;
        font-size: $title-large;
        @include all-devices {
            width: 100%;
        }
        @include tablet {
            font-size: $title;
        }
    }
}

