@import "./typography";

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: $font;
    box-sizing: border-box;
}

.grid {
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.hidden-item {
    display: none;
}

.actice-item {
    display: block;
}