* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: $font;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.grid {
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.margin-top-medium {
    margin-top: 20px;
}

.margin-top-large {
    margin-top: 40px;
}
