* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: $font;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.grid {
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.margin-bottom-large {
    margin-bottom: 80px !important;
    @include mobile-and-tablet {
        margin-bottom: 30px !important;
    }
}

.margin-bottom-medium {
    margin-bottom: 40px !important;
    
}

.margin-top-medium {
    margin-top: 20px;
}

.margin-top-large {
    margin-top: 40px !important;
    @include mobile-and-tablet {
        margin-top: 20px !important;
    }
}

.text-align-left {
    @include tablet {
        text-align: left !important;
    }
}

.text-align-right {
    @include tablet {
        text-align: right;
    }
}