@font-face {
    font-family: 'Mulish';
    src: url(../fonts/static/Mulish-Regular.ttf) format('truetype'),
    url(../fonts/static/Mulish-Bold.ttf) format('truetype'),
    url(../fonts/static/Mulish-Light.ttf) format('truetype');
}

$font-mulish: 'Mulish'
