.flex {
    @include flex-center;
    &--col {
        flex-direction: column;
    } 
    &--row {
        justify-content: space-around;
        @include mobile {
            flex-wrap: wrap;
        }
    }
    &--wrap-reverse {
        @include mobile {
            flex-wrap: wrap-reverse;
        }
    }
    &--mg-left {
        margin-left: 140px;
        @include all-devices {
            margin: 0;
        }
    }
}