:root {
    --primary-color: #458FF6;
    --white-color : #fff;
    --black-color: #000;
    --text-color: #7D7987;
    --linear-background-color: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

.grid {
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

/* Button */
.btn {
    width: 200px;
    height: 56px;
    background-color: var(--white-color);
    border-radius: 55px;
    border: 1.4px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
